@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap");
*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--font-family1: 'Poppins', sans-serif;
	--font-family2: 'Montserrat', sans-serif;
	--font-size-h1: 1.5rem;
	--font-size-h2: 2.25rem;
	--font-size-body: 1rem;
	--font-size-xl: 4.5rem;
	--color-light: #fff;
	--color-gray: #989898;
	--color-dark: #444;
	--color-accent: #d06d6d;
	--color-accent-dark: #613131;
	--fw-bold: 700;
}

body {
	margin: 0;
	font-family: var(--font-family2);
	line-height: 1.6;
	background-size: cover;
	height: 100vh;
	overflow: hidden;
	color: var(--color-light);
	background-position: center;
	background-repeat: no-repeat;
	background-image: url(./mars.jpg);
}
.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
h1,
h2,
h3 {
	line-height: 1;
}

a {
	color: var(--clr-accent);

	&:hover {
		color: var(--clr-accent-dark);
	}
}

.current-weather {
	background: rgba(0, 0, 0, 0.7);
	max-width: 1000px;
	margin: 1em 0 0 4em;
	padding: 2em;
	display: grid;
	grid-gap: 2em;
	grid-template-columns: repeat(3, 1fr);
}

a {
	color: var(--color-accent);
}
a:hover {
	color: var(--color-accent-dark);
}
.main-title {
	color: var(--color-accent);
	font-size: var(--font-size-h1);
	font-weight: 300;
	letter-spacing: 1px;
	grid-column: 1 / -1;
	text-transform: uppercase;
}
.section-title {
	font-size: var(--font-size-h2);
	font-weight: var(--fw-bold);
	margin: 0;
}

.date-title {
	font-size: var(--font-size-xl);
}
.reading {
	font-size: var(--font-size-h1);
	color: var(--color-gray);
	margin: 0;
}

.date {
	grid-column: 1 / 2;

	&-day {
		color: var(--color-gray);
		font-size: var(--font-size-h2);
		margin: 0;
		font-weight: 300;
	}
}

.temp {
	--border: .25em solid var(--color-accent-dark);
	grid-column: 2 / 3;
	border-left: var(--border);
	border-right: var(--border);
	padding: 0 2em;
}
.wind {
	grid-column: 3 / 4;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: min-content 3fr;
	align-self: start;
	.section-titile,
	.reading {
		grid-column: 2/3;
	}

	&-direction {
		--size: 6rem;
		width: var(--size);
		height: var(--size);
		border-radius: 50%;
		background-color: var(--color-gray);
		display: grid;
		place-items: center;
		grid-row: 1 / span 2;
	}
	&-arrow {
		--direction: 280deg;
		--size: 1rem;
		height: calc(var(--size) * 3);
		width: var(--size);
		background-color: var(--color-accent-dark);
		clip-path: polygon(50% 0, 0 100%, 100% 100%);
		transform: translateY(-50%) rotate(var(--direction));
		transform-origin: bottom center;
		transition: transform 500ms ease;
	}
}
.info {
	grid-column: 1 / 3;
}

.unit {
	grid-column: 3 / 4;
	place-self: end;
	display: flex;
	color: var(--color-light);
	opacity: .7;
	transition: opacity 275ms linear;

	label {
		cursor: pointer;
	}

	input {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	&:hover {
		opacity: 1;
	}

	&_toggle {
		width: 4em;
		border: 2px solid var(--color-light);
		cursor: pointer;
		border-radius: 100vmax;
		outline: none;
		background-color: transparent;
		padding: 0;
		margin: 0 1em;
		height: 2em;
		&::after {
			content: '';
			display: block;
			border-radius: 50%;
			background-color: var(--color-light);
			height: 1rem;
			width: 1rem;
			margin: 3px;
			margin-left: auto;
		}
	}
}
:checked ~ .unit_toggle::after {
	margin-left: 3px;
}
.previous-weather {
	background-color: var(--color-light);
	color: var(--color-dark);
	position: absolute;
	top: 67%;
	bottom: -55;
	width: 100%;
	// height: 100%;
	transform: translateY(50%);
	transition: transform 350ms ease-in-out;
	padding: 2rem;
}

.previous-days {
	display: flex;
}

.show-previous-weather {
	background-color: var(--color-light);
	position: absolute;
	left: 50%;
	width: 10rem;
	font-size: var(--font-size-h2);
	clip-path: polygon(50% 0, 0 100%, 100% 100%);
	transform: translate(-50%, calc(-99% - 2rem));
	text-align: center;
	line-height: 1;
	cursor: pointer;
	border: 0;
	font-family: inherit;

	&:hover,
	&:focus {
		color: var(--clr-dark);
	}
	#arrow {
		display: block;
		transform: rotate(0);
		transition: transform 300ms ease;
	}
}

.previous-days {
	display: flex;
	justify-content: space-between;
}
.previous-day {
	opacity: 0;

	& > * {
		margin: 0;
	}

	&-date {
		font-size: 0.9rem;
		color: var(--color-gray);
	}

	&-btn {
		color: var(--color-light);
		background-color: var(--color-dark);
		padding: 0.3em 0.9em;
		margin-top: 0.4em;
		border-radius: 100vmax;
		border: 0;
		text-transform: uppercase;
		cursor: pointer;
		outline: none;
	}
}
.previous-day_title {
	text-align: center;
}

.show-weather.previous-weather {
	transform: translateY(0);

	.show-previous-weather > #arrow {
		transform: rotate(180deg) translateY(-6px);
		display: block;
	}

	.previous-day_title,
	.previous-day {
		animation: slideUp 750ms forwards;
	}
	.previous-day_title {
		text-align: start;
	}

	.previous-day:nth-child(1) {
		animation-delay: 100ms;
	}
	.previous-day:nth-child(2) {
		animation-delay: 125ms;
	}
	.previous-day:nth-child(3) {
		animation-delay: 150ms;
	}
	.previous-day:nth-child(4) {
		animation-delay: 175ms;
	}
	.previous-day:nth-child(5) {
		animation-delay: 200ms;
	}
	.previous-day:nth-child(6) {
		animation-delay: 225ms;
	}
	.previous-day:nth-child(7) {
		animation-delay: 300ms;
	}
}

@keyframes slideUp {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
